In [1]:
import pandas as pd

In [3]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
series=pd.Series([4, 8, 15, 16, 23,42])

In [4]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
list=[4, 8, 15, 16, 23,42,43,21,11,1]
pd.Series(list)

0     4
1     8
2    15
3    16
4    23
5    42
6    43
7    21
8    11
9     1
dtype: int64

In [9]:
# Q3. Create a Pandas DataFrame that contains the following data:

data = {'Name': ['Alice', 'Bob', 'Claire'], 
      'Age': [25, 30, 27], 
     'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [10]:
# Q4. What is 'DataFrame' in pandas and how is it different from pandas.series? Explain with an example.
# Ans : A DataFrame in pandas is a two-dimensional labeled data structure with columns potentially of different types. It is similar to a spreadsheet or SQL table, where each column can have a different data type. A DataFrame can be thought of as a collection of Series objects, where each Series represents a column in the DataFrame.
# On the other hand, a Series in pandas is a one-dimensional labeled array capable of holding any data type. It is similar to a single column in a spreadsheet or SQL table. A Series can be thought of as a single column of data with an associated index.
# Here's an example to illustrate the difference between a DataFrame and a Series:

# Create a pandas Series
s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
print("Series:\n", s)

# Create a pandas DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['a', 'b', 'c'])
print("\nDataFrame:\n", df)

# In this example, we first create a Series s with four integer values and an associated index of letters 'a' through 'd'. We then create a DataFrame df with two columns 'A' and 'B', each containing three integer values, and an associated index of letters 'a' through 'c'.

# As you can see, a Series is a one-dimensional array with an associated index, while a DataFrame is a two-dimensional array with multiple columns and an associated index. A DataFrame can be thought of as a collection of Series objects, where each Series represents a column in the DataFrame.

# In summary, a Series in pandas is a one-dimensional labeled array, while a DataFrame is a two-dimensional labeled data structure with columns potentially of different types. A DataFrame can be thought of as a collection of Series objects, where each Series represents a column in the DataFrame.

# Best practices:

# Use a Series when you have a single column of data with an associated index.
# Use a DataFrame when you have multiple columns of data with an associated index.
# Use the appropriate data structure for your data to make it easier to manipulate and analyze.
# Use descriptive column names and index labels to make your data easier to understand and interpret.

Series:
 a    1
b    2
c    3
d    4
dtype: int64

DataFrame:
    A  B
a  1  4
b  2  5
c  3  6

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
Ans
Sure, here are some common functions to manipulate a Pandas DataFrame:

head(): This function returns the first n rows for the object based on position. It is useful to get a quick look at the data.
Example: data_1.head()

tail(): This function returns the last n rows for the object based on position. It is useful to check the end of the data.
Example: data_1.tail()

info(): This function shows the data types of each column and the number of non-null values. It is useful to get an overview of the data.
Example: data_1.info()

describe(): This function gives statistical information about the numerical columns in the DataFrame. It returns the count, mean, standard deviation, minimum, 25th percentile, median, 75th percentile, and maximum.
Example: data_1.describe()

value_counts(): This function returns the frequency of each unique value in the Series. It is useful to get an idea of the distribution of categorical data.
Example: data_1['State'].value_counts()

drop_duplicates(): This function returns a DataFrame with duplicate rows removed. It is useful to remove redundant data.
Example: data_1.drop_duplicates(inplace=True)

groupby(): This function is used to group a DataFrame by one or more columns and perform some mathematical operation on it. It is useful to summarize data.
Example: data_1.groupby(by='State').Salary.mean()

merge(): This function is used to merge two DataFrames on a common column (field). It is useful to combine data from different sources.
Example: data_1.merge(data_2, on='Name', how='left')

memory_usage(): This function returns the memory usage of each column in bytes. It is useful to optimize memory usage.
Example: data_1.memory_usage(deep=True)

astype(): This function is used to convert the data type of a column in the DataFrame. It is useful to fix data type issues.
Example: data_1['Gender'] = data_1.Gender.astype('category')

loc[]: This function is used to access a group of rows and columns by label(s) or a boolean array. It is useful to slice the DataFrame.
Example: data_1.loc[0:4, ['Name', 'Age', 'State']]

sort_values(): This function is used to sort a DataFrame by values in ascending or descending order. It is useful to arrange data in a specific order.
Example: data_1.sort_values(by='Name', inplace=True)

These functions are just a few examples of what you can do with a Pandas DataFrame. There are many more functions available to manipulate and analyze data in Pandas

In [11]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
# Ans : In Python's pandas library, Series, DataFrame, and Panel are all data structures used for data manipulation and analysis. Among these, only DataFrame and Panel are mutable in nature, while Series is immutable by default.

# A Series is a one-dimensional labeled array capable of holding any data type. It is immutable by default, which means that once created, its values cannot be changed. However, it can be made mutable by setting the copy parameter to False when creating a new Series from an existing one.

# A DataFrame is a two-dimensional labeled data structure with columns potentially of different types. It is mutable, which means that its values can be changed after creation.

# A Panel is a three-dimensional labeled data structure, which is an extension of the DataFrame. It is also mutable, but it is deprecated in pandas version 0.23.0 and later, and it is recommended to use MultiIndex DataFrames instead.

# Here's an example to illustrate the mutability of DataFrame:

import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Modify a value in the DataFrame
df.loc[0, 'A'] = 10

# Print the modified DataFrame
print(df)

    A  B
0  10  4
1   2  5
2   3  6

In [12]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.
# Ans: 
import pandas as pd

# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print("Create pandas Series:\n",df)

Create pandas Series:
          0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000