Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans:
A database is an organized collection of data stored and accessed electronically. Databases are designed to offer an efficient way to store, retrieve and manipulate data. They can handle anything from a small amount of data to large volumes of complex data.

Differentiate between SQL and NoSQL databases:
SQL Databases (also known as relational databases) are table-based databases that use structured query language (SQL) for defining and manipulating the data. They are based on a relational model where data is stored in rows and columns of different tables to minimize data redundancy. SQL databases are ideal for complex queries and are ACID compliant (Atomicity, Consistency, Isolation, Durability). Examples include MySQL, Oracle, PostgreSQL, and SQL Server.

NoSQL Databases (also known as non-relational databases) are document-based, key-value pairs, graph databases, or wide-column stores. They do not have standard schema definitions that the data must adhere to. Scalability and flexibility for handling large data sets and high-speed queries are major advantages of NoSQL databases. They are not typically ACID compliant and are ideal for storing unstructured data. Examples include MongoDB, Cassandra, Redis, and CouchDB.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans:
DDL stands for Data Definition Language. It is a subset of SQL used to define and manage all the objects in an SQL database. DDL includes commands like CREATE, DROP, ALTER, and TRUNCATE.

1. CREATE: This command is used to create a new table or a new database.
CREATE TABLE Employees (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Age INT
);

2. DROP: This command is used to delete an entire table or database.
DROP TABLE Employees;

3. ALTER: This command is used to modify an existing database object, like a table. It can be used to add, delete/drop or modify columns in a table.

ALTER TABLE Employees
ADD Email VARCHAR(50);

4. TRUNCATE: This command is used to delete all the records from a table, but not the table itself. It's similar to the DELETE command with no WHERE clause, but is much faster because it doesn't generate individual row delete statements.

TRUNCATE TABLE Employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans:

DML stands for Data Manipulation Language. It is a subset of SQL used for adding (inserting), deleting, and modifying (updating) data in a database. DML includes commands like INSERT, UPDATE, and DELETE.

1. INSERT: This command is used to insert data into a table.

INSERT INTO Employees (ID, Name, Age)
VALUES (1, 'John Doe', 30);

2. UPDATE: This command is used to modify the existing records in a table.
UPDATE Employees
SET Age = 31
WHERE ID = 1;

3. DELETE: This command is used to delete existing records from a table.
DELETE FROM Employees
WHERE ID = 1;

Q4. What is DQL? Explain SELECT with an example.

Ans:
DQL stands for Data Query Language. It is a subset of SQL used for querying data from a database to fetch, order, and group data. The primary DQL command is SELECT.

SELECT: This command is used to select data from a database. The data returned is stored in a result table, called the result-set.

Here's an example of a SELECT statement:
SELECT Name, Age
FROM Employees
WHERE Age > 30;

In this example, the SELECT statement is used to fetch the Name and Age of all employees who are older than 30 from the Employees table.

You can also use the * wildcard character in a SELECT statement to select all columns:

SELECT *
FROM Employees;

This statement selects all data from the Employees table.

Q5. Explain Primary Key and Foreign Key.
Primary Key: A primary key is a column (or a combination of columns) in a table that uniquely identifies each row in that table. The primary key has the following characteristics:

It must contain a unique value for each row of data.
It cannot contain null values.
A table can have only one primary key.
Here's an example of a primary key in a table:

CREATE TABLE Employees (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Age INT
);

In this example, ID is the primary key for the Employees table.

Foreign Key: A foreign key is a column (or a combination of columns) in a table that is used to establish a link between the data in two tables. The foreign key in one table points to the primary key in another table. The table containing the foreign key is called the child table, and the table containing the primary key is called the referenced or parent table.

Here's an example of a foreign key in a table:

CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    OrderNumber INT,
    EmployeeID INT,
    FOREIGN KEY (EmployeeID) REFERENCES Employees(ID)
);
In this example, EmployeeID in the Orders table is a foreign key that references the ID (primary key) in the Employees table. This establishes a relationship between the two tables, where each order is associated with an employee.

Q6. Write a python code to connect MySQL to python. Explain the cursor and execute) method.
Ans:

To connect MySQL to Python, you can use a library like mysql-connector-python. Here's an example of how to establish a connection:

import mysql.connector

cnx = mysql.connector.connect(
    host='localhost',
    user='your_username',
    password='your_password',
    database='your_database'
)

cnx.close()


GitHub Copilot
To connect MySQL to Python, you can use a library like mysql-connector-python. Here's an example of how to establish a connection:

In this example, you first import the mysql.connector module, then call the connect function with your database credentials to establish a connection. The connect function returns a connection object (cnx in this case). Don't forget to close the connection when you're done with it using the close method.

1. Cursor: A cursor in MySQL is a database object that allows you to retrieve rows from a result set one at a time. You can create a cursor from the connection object like this:

cursor = cnx.cursor()

2. Execute method: The execute method is used to run SQL queries in Python. You call this method on a cursor object and pass the SQL query as a string. Here's an example:

cursor.execute("SELECT * FROM Employees")

This will execute the SQL query and the cursor will point to the result set. You can then fetch the results using methods like fetchone, fetchmany, or fetchall.

Q7. Give the order of execution of SQL clauses in an SQL query.
Ans: